venv
venv_web_form_prog
.idea
.env
staticfiles

*.log
*.pot
*.pyc
documents_prog/tex_ex.md

donatelo/cookies/*
donatelo/temp_jsons/*
!donatelo/cookies/
!donatelo/temp_jsons/
!donatelo/cookies/.gitkeep
!donatelo/temp_jsons/.gitkeep
