{% extends "base.html" %}
{% block content %}
<h2>Employee Leads List</h2>
<ul>
    {% for lead in leads %}
    <li>{{ lead.name }} - <a href="{% url 'update_employee_lead' lead.uuid %}">Edit</a> | <a href="{% url 'delete_employee_lead' lead.uuid %}">Delete</a></li>
    {% endfor %}
</ul>
<a href="{% url 'create_employee_lead' %}">Create New Lead</a><br>
<a href="{% url 'home' %}">Головна</a><br>

<form action="{% url 'send_employee_leads_to_crm' %}" method="post">
    {% csrf_token %}
    <button type="submit">Надіслати</button>
</form>

{% endblock %}
