{% extends "base.html" %}
{% block content %}
<h2>Worker Leads List</h2>
<ul>
    {% for lead in leads %}
    <li>{{ lead.name }} - <a href="{% url 'update_worker_lead' lead.uuid %}">Edit</a> | <a href="{% url 'delete_worker_lead' lead.uuid %}">Delete</a></li>
    {% endfor %}
</ul>
<a href="{% url 'create_worker_lead' %}">Create New Lead</a><br>
<a href="{% url 'home' %}">Головна</a><br>

<form action="{% url 'send_worker_leads_to_crm' %}" method="post">
    {% csrf_token %}
    <button type="submit">Надіслати</button>
</form>

{% endblock %}
